{% extends 'base.html'%}

{% block body_block%}
<div>
        <div>
        <div>
        <h1>Th&ocirc;ng tin giao h&agrave;ng</h1>
        
        <p><strong>I. Vận chuyển trong nội ngoại th&agrave;nh S&agrave;i G&ograve;n:</strong></p>
        
        <p><em><u>a. Kh&aacute;ch h&agrave;ng&nbsp;muốn đặt giao h&agrave;ng xin để lại:</u></em></p>
        
        <p>- M&atilde; số sản phẩm c&aacute;c bạn muốn đặt (nếu c&oacute;)</p>
        
        <p>- Số điện thoại của bạn.</p>
        
        <p>- Thời gian + địa điểm lấy h&agrave;ng.</p>
        
        <p>- để G&agrave; Tươi Long B&igrave;nh giao h&agrave;ng nhanh hơn cho qu&yacute; kh&aacute;ch.</p>
        
        <p><em><u>b. Thời gian giao h&agrave;ng v&agrave; cước ph&iacute;:</u></em></p>
        
        <p>- Nhận ship tất cả c&aacute;c quận trong TP.HCM kể cả c&aacute;c quận xa như B&igrave;nh T&acirc;n, B&igrave;nh Ch&aacute;nh, G&ograve; Vấp, Thủ Đức, H&oacute;c M&ocirc;n&hellip;</p>
        
        <p>- Giao trong khoản thời gian từ 8h tới 17h (đơn h&agrave;ng sau 18h th&igrave; qua h&ocirc;m sau mới giao)</p>
        
        <p><strong>- Gi&aacute; giao h&agrave;ng:</strong></p>
        
        <p>Mức ph&iacute; giao h&agrave;ng: 30k (gồm c&aacute;c&nbsp;quận 12, H&oacute;c M&ocirc;n, B&igrave;nh T&acirc;n,&nbsp;quận 2, 9, Thủ Đức ,quận B&igrave;nh Ch&aacute;nh, Nh&agrave; B&egrave;, Củ Chi)</p>
        
        <p>- Ph&iacute; n&agrave;y trả cho b&ecirc;n cty chuyển ph&aacute;t h&agrave;ng hoặc nh&acirc;n vi&ecirc;n giao h&agrave;ng</p>
        
        <p><strong>II. Vận chuyển c&aacute;c tỉnh th&agrave;nh kh&aacute;c:</strong></p>
        
        <p>- Li&ecirc;n hệ G&agrave; Tươi Long B&igrave;nh&nbsp;để vận chuyển h&agrave;ng c&aacute;ch tốt nhất.</p>
        
        <p>- hotline : 091.6610.228</p>
        </div>
        </div>
        </div>
        
        <p>&nbsp;</p>
        
{% endblock %}