{% extends 'base.html'%}
{% block body_block%}

<h3><strong>1. Lịch sử</strong></h3>

<p>Được th&agrave;nh lập rất sớm từ những năm 1976, C&ocirc;ng ty CP N&ocirc;ng nghiệp H&ugrave;ng Hậu &ndash; HungHau Agricultural (tiền th&acirc;n l&agrave; Seajoco Vietnam) tự h&agrave;o l&agrave; một trong những doanh nghiệp ti&ecirc;n phong, đại diện cho sự đổi mới với sứ mệnh mang đến thị trường những sản phẩm chế biến từ thủy hải sản c&oacute; chất lượng vượt trội v&agrave; dinh dưỡng cao.</p>

<p>Trải qua chặng đường gần 40 năm x&acirc;y dựng v&agrave; ph&aacute;t triển, HungHau Agricultural đ&atilde; khẳng định được gi&aacute; trị t&iacute;ch cực th&ocirc;ng qua việc nỗ lực đổi mới c&ocirc;ng nghệ, t&iacute;ch lũy b&iacute; quyết, n&acirc;ng cao tr&igrave;nh độ quản l&yacute;, năng lực c&aacute;n bộ v&agrave; tay nghề c&ocirc;ng nh&acirc;n.</p>

<p>Sản phẩm của C&ocirc;ng ty đ&atilde; c&oacute; mặt tại thị trường hầu hết c&aacute;c ch&acirc;u lục với h&agrave;ng loạt c&aacute;c sản phẩm đ&aacute;p ứng từ nhu cầu người ti&ecirc;u d&ugrave;ng năng động đến người ti&ecirc;u d&ugrave;ng c&oacute; y&ecirc;u cầu kh&oacute; t&iacute;nh nhất về chất lượng v&agrave; dinh dưỡng sản phẩm. C&oacute; thể kể đến c&aacute;c thị trường xuất khẩu h&agrave;ng đầu l&agrave; c&aacute;c kh&aacute;ch h&agrave;ng đến từ Ch&acirc;u &Acirc;u (Ph&aacute;p, Bỉ, H&agrave; Lan,&hellip;), Nhật Bản, Mỹ, &Uacute;c, c&aacute;c tiểu vương quốc Ả rập&hellip; c&ugrave;ng c&aacute;c k&ecirc;nh ph&acirc;n phối trong nước th&ocirc;ng qua hệ thống c&aacute;c si&ecirc;u thị, nh&agrave; h&agrave;ng như: BigC, Coop Mart, Metro, Vinmart, Lotteria, Pizza hut, Seoul Garden, Circle K&hellip;</p>

<p>Với những th&agrave;nh quả đạt được, C&ocirc;ng ty đ&atilde; c&oacute; đủ cơ sở để ph&aacute;t triển, mở rộng lĩnh vực kinh doanh l&ecirc;n phạm vi rộng lớn hơn &ndash; lĩnh vực n&ocirc;ng nghiệp v&agrave; tự tin mang t&ecirc;n gọi mới &ndash; HungHau Agricultural &ndash; ra đời từ đầu năm 2015. Điều n&agrave;y một lần nữa mở ra bước tiến mới, trang sử mới c&ugrave;ng với mục ti&ecirc;u v&agrave; sứ mệnh được x&aacute;c định: C&ocirc;ng ty Cổ phần N&ocirc;ng nghiệp H&ugrave;ng Hậu vinh dự đồng h&agrave;nh v&agrave; ph&aacute;t triển ng&agrave;nh kinh tế mũi nhọn của Đất nước.</p>

<p>&nbsp;</p>

<p>HungHau Agricultural khẳng định sự lựa chọn đ&uacute;ng đắn của m&igrave;nh th&ocirc;ng qua slogan &ldquo;Trust your choice&rdquo; v&agrave; ch&uacute;ng t&ocirc;i cam kết lu&ocirc;n lu&ocirc;n chia sẻ niềm tin ấy đến với c&aacute;c kh&aacute;ch h&agrave;ng, đối t&aacute;c.</p>

<h3><strong>2. T&agrave;i sản &amp; Cơ sở vật chất</strong></h3>

<p>HungHau Agricultural hiện đang sở hữu 4 nh&agrave; m&aacute;y chế biến c&aacute; tra v&agrave; sản phẩm gi&aacute; trị gia&nbsp; tăng, với số lượng hơn 2,000 c&ocirc;ng nh&acirc;n.</p>

<p>Với thế mạnh, c&aacute;c nh&agrave; m&aacute;y đều nằm tại trung t&acirc;m v&ugrave;ng nguy&ecirc;n liệu n&ecirc;n HHA chủ động được nguồn nguy&ecirc;n liệu chất lượng cao v&agrave; đạt ti&ecirc;u chuẩn xuất khẩu.</p>

<p>Tổng diện t&iacute;ch 65,143 m2, trong đ&oacute; diện t&iacute;ch nh&agrave; xưởng 16.556 m2.</p>

<p>Vốn điều lệ 77.451.8400.000 VNĐ.</p>

<p>C&ocirc;ng suất cấp đ&ocirc;ng 70 tấn th&agrave;nh phẩm/ng&agrave;y. (Gồm 5 hệ thống băng chuyền IQF, 3 t&aacute;i đ&ocirc;ng, 8 tủ đ&ocirc;ng gi&oacute;, 9 tủ đ&ocirc;ng tiếp x&uacute;c, 5 tủ đ&aacute; vảy).</p>

<p>C&ocirc;ng suất kho lạnh: 3950 tấn.</p>

<p>C&aacute;c m&aacute;y m&oacute;c chuy&ecirc;n d&ugrave;ng trong chế biến thủy sản như: m&aacute;y xay, m&aacute;y trộn, m&aacute;y hấp, m&aacute;y chi&ecirc;n, m&aacute;y d&ograve; kim lọai&hellip;</p>

<p>Ph&ograve;ng th&iacute; nghiệm sinh &ndash; h&oacute;a: Kiểm nghiệm nguồn nguy&ecirc;n liệu, nguồn nước v&agrave; sản phẩm h&agrave;ng ng&agrave;y theo ti&ecirc;u chuẩn ng&agrave;nh, quốc gia v&agrave; theo y&ecirc;u cầu của kh&aacute;ch h&agrave;ng.</p>

<p><strong>Ngo&agrave;i ra, ch&uacute;ng t&ocirc;i c&ograve;n c&oacute; một nguồn t&agrave;i sản v&ocirc; c&ugrave;ng qu&iacute; b&aacute;u, đ&oacute; l&agrave;:</strong></p>

<ul>
	<li>Với đội ngũ nhiều Gi&aacute;o sư, tiến sỹ v&agrave; hơn 700 kỹ sư v&agrave; c&ocirc;ng nh&acirc;n l&agrave;nh nghề, tận t&acirc;m nghi&ecirc;n sứu, sản xuất ra những sản phẩm chất lượng.</li>
	<li>Chứng chỉ ISO 22000, BRC, HALAL, HACCP, SSOP-GMP, ASC.</li>
	<li>Chứng nhận An T&ograve;an Vệ sinh C&ocirc;ng Nghiệp do Bộ Thủy Sản cấp.</li>
	<li>Giấy ph&eacute;p xuất khẩu v&agrave;o thị trường Ch&acirc;u &Acirc;u: DL01, DL239 &amp; DL157.</li>
	<li>Tất cả để tạo ra những sản phẩm gi&aacute; trị cao nhất, đ&aacute;p ứng đầy đủ nhất c&aacute;c y&ecirc;u cầu của kh&aacute;ch h&agrave;ng.</li>
</ul>

<p><strong>Tất cả để tạo ra những sản phẩm gi&aacute; trị cao nhất, đ&aacute;p ứng đầy đủ nhất c&aacute;c y&ecirc;u cầu của kh&aacute;ch h&agrave;ng.</strong></p>

<p>&nbsp;</p>
{% endblock %}